#Helping K-pop fans with learning korean

Basead(aka most copy and paste) on the work of Niamh Kingsley 
https://towardsdatascience.com/how-i-used-python-code-to-improve-my-korean-2f3ae09a9773

### interesting tasks for the future

- memorize the words learned so far so they don't show up in the table
- give an URI and extrat the lyrics
- give an URI and extract the news
- give a base URI and sort the news from the site by the number of new unknown words
-text to speech
- put everything together
- extract a  class/function to do everything

In [27]:
text = '나는 케이크를 먹고 있다'
text

'나는 케이크를 먹고 있다'

In [28]:
!pip install googletrans

Requirement already satisfied: googletrans in /usr/local/lib/python3.6/dist-packages (3.0.0)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.6/dist-packages (from googletrans) (0.13.3)
Requirement already satisfied: sniffio in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans) (1.1.0)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans) (2020.8.18)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans) (2020.6.20)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans) (1.4.0)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans) (3.0.4)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.6/dist-packages (from httpx==0.13.3->googletrans) (0.9.1)
Requirement already satisfied: contextvars>=2.1; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from sniffio->httpx==0.13.3->googletrans) (2.4)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.6/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (0.9.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.6/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (3.2.0)
Requirement already satisfied: immutables>=0.9 in /usr/local/lib/python3.6/dist-packages (from contextvars>=2.1; python_version < "3.7"->sniffio->httpx==0.13.3->googletrans) (0.14)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.6/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.6/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (5.2.0)

In [29]:
 !pip install konlpy

Requirement already satisfied: konlpy in /usr/local/lib/python3.6/dist-packages (0.5.2)
Requirement already satisfied: tweepy>=3.7.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (3.9.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (1.0.2)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.6/dist-packages (from konlpy) (1.18.5)
Requirement already satisfied: beautifulsoup4==4.6.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (4.6.0)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.6/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: colorama in /usr/local/lib/python3.6/dist-packages (from konlpy) (0.4.3)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: typing-extensions; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.6/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)

In [30]:
 from konlpy.tag import Okt
from konlpy.utils import pprint
from googletrans import Translator
from pandas import DataFrame

In [31]:
okt = Okt()
pprint(okt.pos(text, norm=True, stem=True, join=True))
#OKT broke text in words

['나/Noun', '는/Josa', '케이크/Noun', '를/Josa', '먹다/Verb', '있다/Adjective']

In [32]:
okt = Okt()
text = '내가 뭐랬어 이길 거랬잖아 믿지 못했어 (정말) 이길 수 있을까 이 기적 아닌 기적을 우리가 만든 걸까 (No) 난 여기 있었고 니가 내게 다가와준 거야'
ttrans = (okt.pos(text, norm=True, stem=True, join=True))
ttrans

['내/Noun',
 '가/Josa',
 '뭐랬어/Noun',
 '이기다/Verb',
 '거랬잖/Noun',
 '아/Josa',
 '믿다/Verb',
 '못/VerbPrefix',
 '하다/Verb',
 '(/Punctuation',
 '정말/Noun',
 ')/Punctuation',
 '이기다/Verb',
 '수/Noun',
 '있다/Adjective',
 '이/Noun',
 '기적/Noun',
 '아니다/Adjective',
 '기적/Noun',
 '을/Josa',
 '우리/Noun',
 '가/Josa',
 '만들다/Verb',
 '걸다/Verb',
 '(/Punctuation',
 'No/Alpha',
 ')/Punctuation',
 '난/Noun',
 '여기/Noun',
 '있다/Adjective',
 '니/Noun',
 '가/Josa',
 '내다/Verb',
 '다가오다/Verb',
 '준/Noun',
 '거야/Eomi']

In [33]:
words = DataFrame(ttrans, columns=['original_word'])
words.sample(10)

    original_word
5          아/Josa
31         가/Josa
27         난/Noun
14   있다/Adjective
26  )/Punctuation
32        내다/Verb
4        거랬잖/Noun
2        뭐랬어/Noun
10        정말/Noun
0          내/Noun

In [34]:
order = words['original_word'].str.split("/")
words['korean'] = order.str[0]
words['classification'] = order.str[1]
words.head()

  original_word korean classification
0        내/Noun      내           Noun
1        가/Josa      가           Josa
2      뭐랬어/Noun    뭐랬어           Noun
3      이기다/Verb    이기다           Verb
4      거랬잖/Noun    거랬잖           Noun

In [35]:
temp = words.query("classification != 'Punctuation'")
temp = temp.drop_duplicates(subset="original_word", keep = False)
words = temp.sort_values("classification")
words.head()
#words.drop(words[koreanlist["classification"] == "Ponctuation"'].index,)

    original_word korean classification
17  아니다/Adjective    아니다      Adjective
25       No/Alpha     No          Alpha
35        거야/Eomi     거야           Eomi
19         을/Josa      을           Josa
5          아/Josa      아           Josa

In [36]:
#set up translate
translator = Translator()

# translate by adding a column
words['english'] = words['korean'].apply(translator.translate).apply(getattr, args=('text',))

# format
#del words['original_word']
words[['korean', 'classification', 'english']]

   korean classification           english
17    아니다      Adjective                no
25     No          Alpha                No
35     거야           Eomi              Will
19      을           Josa                of
5       아           Josa                Ah
0       내           Noun           of mine
10     정말           Noun            Really
13      수           Noun            Number
15      이           Noun              this
4     거랬잖           Noun            I said
34      준           Noun              June
20     우리           Noun                Us
30      니           Noun              Nice
2     뭐랬어           Noun  What did you say
27      난           Noun                 I
28     여기           Noun              here
33   다가오다           Verb    to come closer
32     내다           Verb               Pay
6      믿다           Verb           believe
8      하다           Verb                Do
23     걸다           Verb               bet
22    만들다           Verb           to make
7       못     VerbPrefix              nail